@font-face {
  font-family: 'XmasSweaterStitch-xXYq';
  src: local('XmasSweaterStitch-xXYq'), url(../fonts/XmasSweaterStitch-xXYq.ttf) format('truetype');
}

@font-face {
  font-family: 'goodbye-crewel-world-nf.regular';
  src: local('goodbye-crewel-world-nf.regular'), url(../fonts/goodbye-crewel-world-nf.regular.ttf) format('truetype');
}

@font-face {
  font-family: 'kingthings-xstitch.regular';
  src: local('kingthings-xstitch.regular'), url(../fonts/kingthings-xstitch.regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand-VariableFont_wght';
  src: local('Quicksand-VariableFont_wght'), url(../fonts/Quicksand-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'kingthings-xstitch.regular';
  src: local('kingthings-xstitch.regular'), url(../fonts/kingthings-xstitch.regular.ttf) format('truetype');
}

:root {
  --color1: #1b1f53;
  --color2: #e6bc14;
  --color3: white;
  --color4: #f5363f;
  --color5: #16ad66;
}

body {
  font-family: 'Josefin Sans Variable', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100vw;
  min-height:100vh;
}


* {
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: o;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

main {
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}