
.firstSection {
  width: 100%;
  background-color: var(--color1);
  padding: 60px;
  line-height: 30px;
  font-size: 18px;
}

.userDataLogosContainer {
  height: 100px;
  width: 100%;
  /* background-color:burlywood; */
  font-size: 32px;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.userDataSaveLogosContainer {
  font-size: 32px;

}


.userDataChangeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toggleSwitchContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.secretMessageLogos {
  display: flex;
  flex-direction: raw;
  justify-content: center;

}

.secretMessageLogos img,
.secretMessageLogos span {
  margin-right: 20px;
  margin-top: 20px;
}

.sendMailContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorMessage {
  font-size:24px;
  color:var(--color2);
}



.mailMessage {
  background-color: var(--color3);
  border: 0;
  width: 70%;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 22px;
  font-family: 'goodbye-crewel-world-nf.regular';
  color: var(--color1)
}

.writeMailSection {
  width: 80vw;
  background-color: var(--color5);
  border: 15px dotted var(--color1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:center;
}

.sendMailTextarea {
  width: 80%;
  height: 120px;
  font-size: 24px;
  font-family: 'goodbye-crewel-world-nf.regular';
  color: var(--color1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.sendMailInput {
  width: 80%;
  height: 50px;
  font-size: 24px;
  font-family: 'goodbye-crewel-world-nf.regular';
  color: var(--color1);
  margin-top: 20px;
  margin-bottom: 20px;


}

.messageIcon {
  cursor: pointer;
}

.secretMessageIcon {
  color: var(--color1);
  font-size: 35px;
  cursor: pointer;

}

.returnUserDataIcon {
  cursor: pointer;
  margin-right:10px;
  margin-left:10px;
}

.saveUserDataIcon {
  cursor: pointer;
  margin-right:10px;
  margin-left:10px;

}

.userDataIcon {
  cursor: pointer;
}

.changeUserData {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width:100%;

}

.changeUserDataContainer {
  width: 100vw;
  background-color: var(--color5);
  border-top: 15px dotted var(--color1);
  border-bottom: 15px dotted var(--color1);
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}


.changeUserData h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 28px;
}

.changeUserDataInput {
  background-color: var(--color3);
  border: 0;
  width: 60%;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 22px;
  font-family: 'goodbye-crewel-world-nf.regular';
  color: var(--color1);
  padding:10px;
}

.changeUserDataTextarea {
  background-color: var(--color3);
  border: 0;
  width: 70%;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 22px;
  font-family: 'goodbye-crewel-world-nf.regular';
  color: var(--color1);
  padding:10px;
}

.toggle-switch-container span {
  color: yellow;
  font-size: 50px;
}

.changeuserDataInput :focus {
  background-color: var(--color1);
  border: 0;
}

.successModal {
  font-size:30px;
  color:var(--color2);
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

.userDataBtn {
  width:100px;
  height:50px;
  background-color:var(--color2);
  font-size:22px;
  border: 0;
  color:var(--color1);
  font-family: 'goodbye-crewel-world-nf.regular';
  margin-top:10px;
  cursor: pointer;
}

.userDataSaveLogosContainer :first-child {
  margin-right: 10px;
}

.nameSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color1);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 80px;
  /* text-shadow: 2px 0 0 var(--color5), 2px 2px 0 var(--color5), 0 2px 0 var(--color5), -2px 2px 0 var(--color5), -2px 0 0 var(--color5), -2px -2px 0 var(--color5), 0 -2px 0 var(--color5), 2px -2px 0 var(--color5); */
  font-family: 'XmasSweaterStitch-xXYq';
  cursor: pointer;
  text-align: center;
}

.intro {
  background-color: var(--color1);
  padding: 10px;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-family: 'goodbye-crewel-world-nf.regular';
}

.gift {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offeredGift {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offeredGiftTitleAndLink {
  display: flex;
  flex-direction: column;
  width: 90%
    /* justify-content: space-between; */
}

.giftsSection {
  width: 100%;
  position: relative;

}

.startSeparationSection {
  color: var(--color1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 80px;
  font-family: 'XmasSweaterStitch-xXYq';
  overflow: hidden;
  max-width: 100vw;
}

.startSeparationSection p {
  margin-top: -40px;

}

.endSeparationSection p {
  margin-bottom: -45px;

}

.endSeparationSection {
  top: 0px;
  color: var(--color1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 80px;
  width: 100%;
  font-family: 'XmasSweaterStitch-xXYq';

}


.giftsList {
  padding: 30px 30px 0 30px;
  color: var(--color1);
  font-family: 'goodbye-crewel-world-nf.regular';
}

.offeredGiftsList {
  padding: 30px 30px 0 30px;
  color: var(--color4);
  font-family: 'goodbye-crewel-world-nf.regular';
}

.absoluteContainer {
  position: relative;
}

.giftLink {
  font-size: 26px;
  color: var(--color5);

}

.giftLinkUserConnected {
  font-size: 28px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
  color: white;
}



.giftLinkUserConnectedOffered {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.detailDisplay {
  /* max-height: 60000px; */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.detailHide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}


.updateDate {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}

.giftIcon {
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.giftTitleInput {
  background-color: var(--color5);
  padding: 10px;
  margin-bottom: 30px;
  color: var(--color1);
  border: 0;
  outline: 8px dotted var(--color4);
  font-size: 16px;
  font-weight: bold;
  font-family: 'goodbye-crewel-world-nf.regular';
  width: 100%;
}

.editingGiftDetailToUpdate textarea {
  background-color: var(--color2);
  border-color: white;
  border: 0;
  outline: 8px dotted var(--color4);
  font-size: 20px;
  color: var(--color1);
}

.editingGiftDetailToUpdate input {
  background-color: var(--color2);
  border-color: white;
  border: 0;
  outline: 8px dotted var(--color4);
  font-size: 20px;
  color: var(--color1);
}

.giftTextInput {
  background-color: var(--color5);
  padding: 10px;
  margin-bottom: 30px;
  color: var(--color1);
  border: 0;
  outline: 8px dotted var(--color4);
  width: 100%;
  font-family: 'goodbye-crewel-world-nf.regular';
  height:auto;
}

.giftUrlInput {
  background-color: var(--color5);
  padding: 10px;
  margin-bottom: 20px;
  color: var(--color1);
  border: 0;
  outline: 8px dotted var(--color4);
  font-size: 15px;
  overflow-wrap: break-word;
  width: 100%;
  font-family: 'goodbye-crewel-world-nf.regular';
  flex: wrap;
}

.giftDetailToUpdate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editingGiftDetailToUpdate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.giftDetailOffered {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color4)
}

.startSeparationOfferedGift {
  font-size: 30px;
  color: var(--color4);
  letter-spacing: 12px;
  font-family: 'XmasSweaterStitch-xXYq';
}

.giftDetailOffered h1 {
  font-size: 22px;
}

.giftDetailOffered p {
  font-size: 18px;
}

/* .offeredGiftUrl {
  color:#7c660e;
} */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalDialog {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

.modalDialog2 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  font-size:20px;
  color:var(--color1)
}

.modalDialog button, .modalDialog2 button {
  background-color:var(--color4);
  font-size:18px;
    color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}

.modalDialog2 button {
  width:50%;
  align-self: center;
}


.giftTitleAndLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caddyIconContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding-top: 35px;
}

.caddyIconUser {
  color: var(--color1);
  font-size: 25px;
  cursor: pointer;

}

.caddyIcon {
  color: var(--color1);
  cursor: pointer;
}


.giftSavedModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  text-align: center;
}

.giftSavedModal p {
  font-size: 18px;
}

.giftSavedModal button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.linkIcon {
  color: var(--color5);
  font-size: 24px;
}

.giftTitle,
.giftTitleInput {
  font-size: 24px;
  margin-top: 0;
}

.giftText,
.giftTextInput {
  font-size: 20px;
}

.nbGifts {
  font-size: 60px;
}

.logoGift {
  margin-left: 8px;
}

.chatSection {
  font-family: 'goodbye-crewel-world-nf.regular';
  background-color: var(--color1);
  padding-top: 50px;
  padding-bottom: 70px;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align: center;
  color: var(--color4);
  font-size: 28px;
}

.firstChatDate {
  font-size: 16px;
}

.firstChatName {
  color: var(--color2);
}

.firstChatText {
  color: white;
}

.firstChatTitle {
  font-size: 28px;
}


.giftChatIcon {
  color: white;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.firstChatContent {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chatDate {
  color: var(--color4);
  margin-bottom: 30px;

}

.chatText {
  color: var(--color1);
}

.chatName {
  color: var(--color3);
  font-size: 24px;
}

.chatInput {
  background-color: var(--color2);
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--color1);
  border: 0;
  outline: 8px dotted var(--color2);
  font-size: 22px;
  font-weight: bold;
  font-family: 'goodbye-crewel-world-nf.regular';
  width: 100%;
  height: 90px;
}



.orgContent {
  background-color: var(--color1);
  padding-bottom: 40px;
  min-height: 100vh;
  padding-top: 40px;
  color: white;
  font-family: 'goodbye-crewel-world-nf.regular';

}

.chatContainer {
  border-top: var(--color1) 12px dotted;
  font-family: 'goodbye-crewel-world-nf.regular';
  color: var(--color1);
  text-align: center;
  background-color: var(--color5);
  font-size: 20px;
  padding-bottom: 50px;
  padding-right: 20vw;
  padding-left: 20vw;
}

.chatContainer .giftChatIcon {
  color: var(--color4);
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 30px;
}

.chatContainer h1 {
  margin-bottom: 0px;
}

.chatContainer .chatInput {
  background-color: var(--color3);
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--color1);
  border: 0;
  outline: 8px dotted var(--color3);
  font-size: 22px;
  font-weight: bold;
  font-family: 'goodbye-crewel-world-nf.regular';
  width: 100%;
  height: 90px;
}


.chatContent {
  color: var(--color4);
  font-size:30px;
}

.chatLogoContainer {
  margin-top: 10px;
  font-size:32px;
}

/* .chatName {
  color: var(--color1)
} */

.giftChatIconBottom {
  font-size: 32px;
}

.pseudo {
  margin-bottom: 20px;
}


.userConnectedPseudo {
  margin-bottom: 20px;
  margin-top: 20px;
}

.separationHide {
  display: none;
}

.loginForm {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm h1 {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--color4)
}

.loginForm input {
  height: 50px;
  min-width: 25vw;
  color: var(--color1);
  outline: 7px dotted white;
  border: 0;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 1.3rem;
}

.loginForm button {
  border-radius: 10px;
  font-family: 'goodbye-crewel-world-nf.regular';
  font-size: 30px;
  margin-top: 50px;
  background-color: white;
  border: 0;
  color: var(--color4);
  padding: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}

.loginForm::placeholder {
  font-size: 50px;
}

.error {
  color: var(--color2);
  font-size: 20px;
}

.addGiftIconContainer {
  width: 100%;
  text-align: center;
  color: var(--color3);
  font-size: 26px;
  margin-bottom: 10px;
}

.addGiftIcon {
  cursor: pointer;
}

.keyIcon {
  font-size: 40px;
  margin-top: 20px;
  cursor: pointer;
}

/* .giftInputContainer {
  display:flex;
  flex-direction:row;
} */

.mailResponseContainer {
  background-color: var(--color1);
  height: 100%;
  flex-grow: 1;
  color:white;
}

.passwordRequestContainer {
  margin-top:30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width:100%;
  color:var(--color5)
}

.passwordRequestContainer p {
  font-size: 30px;
}

.inputNewPassRequest {
  height: 50px;
  width:320px;
  background-color: var(--color5);
  border:none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:26px;
  font-family: 'goodbye-crewel-world-nf.regular';
  padding:10px;
  color:var(--color1)
}

.inputNewPassRequest:focus {
  border:none;
  outline:none;
}

.requestPasswordSaveIcon {
  cursor:pointer;
}

.requestPasswordInformation {
  width:70vw;
  text-align:center;
}

.inputRegistration {
  padding:10px;
}

.mailResponseContent {
  margin-top:10vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

.mailResponseContent h2 {
  font-size:36px;
  font-family: 'goodbye-crewel-world-nf.regular';
}

.receveidMessage {
  /* background-color: var(--color3); */
  border: 0;
  width: 70%;
  margin-bottom: 70px;
  margin-top: 70px;
  font-size: 32px;
  font-family: 'goodbye-crewel-world-nf.regular';
  color: var(--color2)
}

.mailResponseInput {
  background-color: var(--color5);
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--color1);
  border: 0;
  outline: 8px dotted var(--color5);
  font-size: 22px;
  font-weight: bold;
  font-family: 'goodbye-crewel-world-nf.regular';
  width: 70vw;
  height: 90px;
  
}

.giftMessageResponseIcon {
  font-size:32px;
  margin-top:20px;
  color: var(--color5);
  margin-right:15px;
  margin-left:15px;
  cursor: pointer;

}

.mailResponseTitle {
  color:var(--color5)
}

.infoLostRoute {
  font-family: 'goodbye-crewel-world-nf.regular';
  width:70vw;
  font-size:32px;
  text-align:center;
}

.stolenModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size:26px;
  color:var(--color4);
  text-align:center
}

.stolenModal button {
  background-color:var(--color4);
  font-size:18px;

}

.sendMailOk {
  color:var(--color2);
  font-size:32px;
}







@media (max-width: 1024px) {

  .writeMailSection {
    width: 90vw;
  }


  .sendMailTextarea {
    width:90%;
  }


  .nameSection {
    font-size: 55px;
  }

  .nbGifts {
    font-size: 40px;
  }

  .intro {
    font-size: 26px;
  }

  .giftTitle,
  .giftTitleInput {
    font-size: 22px;
  }

  .giftText,
  .giftTextInput {
    font-size: 18px;
  }

  .chatContainer {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  
  .writeMailSection h2{
    font-size: 30px;
  }
}

@media (max-width: 768px) {

  .firstChatTitle {
    font-size: 20px;
  }

  .chatSection {
    font-size: 24px;
  }

  .userDataLogosContainer {
    width:60vw;
  }

  .sendMailTextarea {
    font-size:20px;
  }


  .nbGifts {
    font-size: 40px;
  }

  .intro {
    font-size: 24px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .giftTitle,
  .giftTitleInput {
    font-size: 20px;
  }

  .giftText,
  .giftTextInput {
    font-size: 16px;
  }

  .loginForm input {
    min-width: 50vw;
  }

  .changeUserDataInput, .changeUserDataTextarea {
    width:80vw;
  }

  .changeUserDataTextarea {
    min-height:150px;

  }

  .mailResponseInput {
    width:90vw;
  }


}

@media (max-width: 480px) {

  .changeUserDataTextarea {
    min-height:250px;

  }

  .writeMailSection {
    width: 95vw;
  }


  .sendMailTextarea {
    width:95%;
  }

  .changeUserDataInput, .changeUserDataTextarea {
    width:90vw;
  }

  .userDataLogosContainer {
    width:80vw;
  }

  .changeUserData h2 {
    font-size:26px;
  }

  .chatSection {
    font-size: 22px;
  }

  .intro {
    font-size: 24px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .updateDate {
    font-size: 12px;
  }

  .giftsList {
    padding: 20px 10px 0 10px;
    color: var(--color1);
  }

  .gift {
    justify-content: left;

    flex-direction: column;
    align-items: left;
  }

  .giftLink {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color5);
  }

  .updateDate {
    margin-bottom: 10px;
  }

  .chatContainer {
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 18px;

  }

  .giftTextInput {
    min-height: 150px;
  }

  .giftUrlInput {
    min-height: 80px;
  }

  .chatInput {
    min-height: 150px;
  }






}

