.firstSection {
  width: 100%;
  background-color: var(--color1);
  padding: 60px;
  line-height: 30px;
  font-size: 18px;
}

.nameSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color1);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-family: 'XmasSweaterStitch-xXYq';
  cursor: pointer;
  text-align: center; 
}

.intro {
  background-color: var(--color1);
  padding: 10px;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom:30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-family: 'goodbye-crewel-world-nf.regular';
}

.gift {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offeredGift {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offeredGiftTitleAndLink {
  display: flex;
  flex-direction: column;
  width:90%
  /* justify-content: space-between; */
}

.giftsSection {
  width: 100%;
  position: relative;

}

.startSeparationSection {
  color: var(--color1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 80px;
  font-family: 'XmasSweaterStitch-xXYq';
  overflow: hidden;
  max-width:100vw;
}

.startSeparationSection p {
  margin-top: -40px;

}

.endSeparationSection p {
  margin-bottom: -45px;

}

.endSeparationSection {
  top: 0px;
  color: var(--color1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 80px;
  width: 100%;
  font-family: 'XmasSweaterStitch-xXYq';

}


.giftsList {
  padding: 30px 30px 0 30px;
  color: var(--color1);
  font-family: 'goodbye-crewel-world-nf.regular';
}

.offeredGiftsList {
  padding: 30px 30px 0 30px;
  color: var(--color4);
  font-family: 'goodbye-crewel-world-nf.regular';
}
.absoluteContainer {
  position: relative;
}

.giftLink {
  font-size: 20px;
  color:var(--color5);

}

.giftLinkUserConnected {
  font-size: 20px;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin-bottom:20px;
}

.giftLinkUserConnectedOffered {
  font-size: 20px;

  margin-bottom:20px;
  margin-top:10px;
}
.detailDisplay {
  /* max-height: 60000px; */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.detailHide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}


.updateDate {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}

.giftIcon {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.giftTitleInput {
  background-color: var(--color5);
  padding: 10px;
  margin-bottom: 20px;
  color: var(--color1);
  border: 0;
  outline: 7px dotted var(--color5);
  font-size: 16px;
  font-weight: bold;
  font-family: 'goodbye-crewel-world-nf.regular';
  width: 100%;   
}

.editingGiftDetailToUpdate textarea {
  background-color: var(--color1);
  border-color: white;
  border: 0;
  outline: 7px dotted var(--color1);
  font-size: 20px;
  color: white;
}

.editingGiftDetailToUpdate input {
  background-color: var(--color1);
  border-color: white;
  border: 0;
  outline: 7px dotted var(--color1);
  font-size: 20px;
  color: white;
}

.giftTextInput {
  background-color: var(--color5);
  padding: 10px;
  margin-bottom: 20px;
  color: var(--color1);
  border: 0;
  outline: 7px dotted var(--color5);
  width: 100%;
  font-family: 'goodbye-crewel-world-nf.regular';    
  }

.giftUrlInput {
  background-color: var(--color5);
  padding: 10px;
  margin-bottom: 20px;
  color: var(--color1);
  border: 0;
  outline: 7px dotted var(--color5);
  font-size: 15px;
  overflow-wrap: break-word;
  width: 100%;
  font-family: 'goodbye-crewel-world-nf.regular';  
  flex:wrap;
}

.giftDetailToUpdate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editingGiftDetailToUpdate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.giftDetailOffered {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  color:#7c660e;
}

.giftDetailOffered h1 {
  font-size:22px;
}
.giftDetailOffered p {
  font-size:18px;
}

/* .offeredGiftUrl {
  color:#7c660e;
} */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalDialog {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

.modalDialog button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}


.giftTitleAndLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caddyIconContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding-top: 35px;
}

.caddyIconUser {
  color: var(--color1);
  font-size: 25px;
  cursor: pointer;

}

.caddyIcon {
  color: var(--color1);
  cursor: pointer;
}


.giftSavedModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  text-align: center;
}

.giftSavedModal p {
  font-size: 18px;
}

.giftSavedModal button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.linkIcon {
  color:var(--color5);
  font-size:24px;
}

.giftTitle,
.giftTitleInput {
  font-size: 24px;
  margin-top:0;
}

.giftText,
.giftTextInput {
  font-size: 20px;
}

.nbGifts {
  font-size: 60px;
}

.logoGift {
  margin-left: 8px;
}

.chatSection {
  font-family: 'goodbye-crewel-world-nf.regular';
  background-color: var(--color1);
  padding-top: 50px;
  padding-bottom: 70px;
  padding-right: 20vw;
  padding-left: 20vw;
  text-align: center;
  color: var(--color4);
  font-size: 24px;
}

.firstChatDate {
  font-size: 16px;
}

.firstChatName {
  color: var(--color2);
}

.firstChatText {
  color: white;
}

.firstChatTitle {
  font-size: 20px;
}


.giftChatIcon {
  color: white;
  margin-right: 5px;
  margin-left: 5px;
}

.firstChatContent {
  margin-top: 10px;
  margin-bottom: 10px;
}

.orgContent {
  background-color: var(--color1);
  padding-bottom: 40px;
  min-height: 100vh;
  padding-top: 40px;
  color: white;
  font-family: 'goodbye-crewel-world-nf.regular';

}

.chatContainer {
  border-top: var(--color1) 8px dotted;
  font-family: 'goodbye-crewel-world-nf.regular';
  color: var(--color1);
  text-align: center;
  background-color: var(--color5);
  font-size: 20px;
  padding-bottom: 50px;
  padding-right: 20vw;
  padding-left: 20vw;


}

.chatContent {
  color: var(--color4);
  margin-bottom: 30px;
}

.chatName {
  color: var(--color1)
}

.giftChatIconBottom {
  font-size: 30px;
}

.pseudo {
  margin-bottom: 20px;
}


.userConnectedPseudo {
  margin-bottom: 20px;
  margin-top: 20px;
}

.separationHide {
  display: none;
}

.loginForm {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm h1 {
  margin-top: 0;
  margin-bottom: 30px;
  color:var(--color4)

}

.loginForm input {
  height: 50px;
  min-width: 25vw;
  color:var(--color1); 
  outline: 7px dotted white;
  border: 0;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size:1.3rem;
}

.loginForm button {
  border-radius: 10px;
  font-family: 'goodbye-crewel-world-nf.regular';
  font-size:30px;
  margin-top:50px;
  background-color: white;
  border:0;
  color:var(--color4);
  padding: 10px;
  padding-bottom:20px;
  cursor: pointer;
 }

 .loginForm::placeholder {
  font-size:50px;
}

.error {
  color:var(--color2);
font-size:20px;
}

.addGiftIconContainer {
  width:100%;
  text-align:center;
  color:var(--color1);
  font-size:26px;
  margin-bottom:10px;
}

.addGiftIcon{
  cursor:pointer;
}

/* .giftInputContainer {
  display:flex;
  flex-direction:row;
} */


@media (max-width: 1024px) {

.chatSection {
  padding-right: 10vw;
  padding-left: 10vw;
}

.nameSection {
  font-size: 55px;
}

.nbGifts {
  font-size: 40px;
}

.intro {
  font-size:26px;
}

.giftTitle,
.giftTitleInput {
  font-size: 22px;
}

.giftText,
.giftTextInput {
  font-size: 18px;
}

.chatContainer {
  padding-right: 10vw;
  padding-left: 10vw;
}
}

@media (max-width: 768px) {

  
  .nbGifts {
    font-size: 40px;
  }

  .intro {
    font-size:24px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .giftTitle,
.giftTitleInput {
  font-size: 20px;
}

.giftText,
.giftTextInput {
  font-size: 16px;
}

.loginForm input {
  min-width: 50vw;
}

  }
  @media (max-width: 480px) {

  
    .intro {
      font-size:24px;
      padding-right: 10px;
      padding-left: 10px;
    }

    .updateDate {
      font-size: 12px;
    }

    .giftsList {
      padding: 20px 10px 0 10px;
      color: var(--color1);    
    }

    .gift {
      justify-content: left;

      flex-direction: column;
      align-items:left;
    }

    .giftLink {
      width:100%;
      display:flex;
      flex-direction:row;
      justify-content:center;
      color:var(--color5);
    }

    .updateDate {
      margin-bottom: 10px;
    }

    .chatContainer {
      padding-right: 5vw;
      padding-left: 5vw;
      font-size: 18px;

    }

    .giftTextInput {
      min-height:150px;
    }

    .giftUrlInput {
      min-height: 80px;
    }

 


    }